.container{
    width: 100%;
    display: flex;
    background-color: yellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    /* width: 80%; */
    /* border: solid 2px black; */
    border-radius: 1rem;
}
.container h1{
    font-size: 4rem;
    animation: heading 3s linear infinite ;
}
@keyframes heading {
    0%{
        color: red;
    }
    25%{
        color: blue;
    }
    50%{
        color: green;
    }
    75%{
        color: yellow;
    }
    100%{
        color: red;
    }
}
.outputcontainer{
    color: red;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    font-size: 2rem;

}
.container .input_box{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.container .input_box input{
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}
.container .input_box button{
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
.container .input_box button:hover{
    background-color: white;
    color: black;
}
.saved_item{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    /* border: 1px solid black */
}
.outputcontainer{
    width: 70vh;
    background-color: rgb(142, 238, 74);
    display: flex;
    padding: 1rem 4rem;
    gap: 1rem;
    justify-content: space-between;
    border-radius: 3rem;
}
.outputcontainer>input{
    /* width: 5rem;    */
    
}
.outputcontainer p{
    color: blue;
}
.outputcontainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.outputcontainer button:hover{
    background-color: white;
    color: blue;
}